---
title: About this page
layout: base.njk
---

<div class="container">
    <h1>This is a page for you</h1>
    <p>It was made using HTML, CSS and JavaScript... ...and server as a JAMstack site!</p>
</div>

{% for item in news %}
    <a href="/{{item.country}}">{{item.country}}</a>
{% endfor %}